/* Load page */

html, body{
    background-color: #222831;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

p, h2, h3{
    color: #EEEEEE;
}

.contenedor-principal img{
    height: 300px;
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}

/* Desing */

header{    
    background-color: #002550;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div-descripcion {
    width: 40%;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5%;
    gap: 20px;
    justify-content: center;
    transition: 1s;

}


.contenedor-principal > section{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: #24506e;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 5px solid #EEEEEE ;
    transition: 1s;
}


.p-profession{
	position: absolute; 
	top: 0;
	right: 0;
	transform: rotate(90deg) translate(100%,100%);
	transform-origin: bottom right;
} 

.p-name {
    text-align: center;
    font-size: 100%;
    margin: 10px;
}

/* Footer Desing */
footer {
    text-align: center;
    padding: 10px;
    height: 100%;
    background-color: #002753;
}


/* Hover */
.contenedor-principal section:hover{
    background-color: #3296d8;
    cursor: pointer;
    transition: 1s;
} 

/*  Funcionalidades del modal con el Javascript*/
.caja-media{
    display: none;
    transition: 1s;

}



.caja-media.visible {
    position: fixed;  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    transition: 1s;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.modal-contenedor{
    border-radius: 50px;    
    background-color: #000000;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.modal-contenedor.close{
    display: none;
}

.contendor-carusel{
    border-radius: 10%;

}

.contendor-carusel img {
    object-fit: scale-down;
    border-radius: 10%;
}

.btn-close{
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.btn-close:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #ff0000;
}

/* Tablets */
@media screen and (max-width: 955px){

    .contenedor-principal img{
        height: 250px;
        margin: 20px;
    }

    .p-name{
        font-size: medium;
    }

}

/* Telefonos Grandes */

@media screen and (max-width: 690px){

    .contenedor-principal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }
    
}

/* Telefonos Pequeños */
@media screen and (max-width: 480px){
    
    header{
    height: 200px;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    }

    .div-descripcion {
        margin: 5%;
        width: 90%;
    }

    .contenedor-principal img{
        height: 100%;
        width: 82%;
    }

    .contenedor-principal{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}