/* Load page */

html, body{
    background-color: #222831;
    box-sizing: border-box;
    
}

p, h2, h3{
    color: #EEEEEE;
}

img{
    height: 300px;
    width: 250px;
    margin: 20px;
}

/* Desing */

header{    
    background-color: #00244d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    padding: 30px;
}



.div-descripcion {
    width: 40%;
}

.div-descripcion h3, .div-descripcion p{
    margin: 10px;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5%;
    gap: 20px;
    justify-content: center;
    transition: 1s;

}


.contenedor-principal > section{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: #24506e;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #EEEEEE ;
    transition: 1s;
}


.p-profession{
	position: absolute; 
	top: 0;
	right: 0;
	transform: rotate(90deg) translate(100%,100%);
	transform-origin: bottom right;
} 

.p-name {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

/* Footer Desing */
footer {
    text-align: center;
    padding: 10px;
    height: 100%;
    background-color: #0A2647;
}


/* Hover */
.contenedor-principal section:hover{
    background-color: #3296d8;
    cursor: pointer;
    transition: 1s;
} 

/*  Funcionalidades del modal con el Javascript*/
.caja-media{
    display: none;
    transition: 1s;

}


.caja-media.visible {
    position: fixed;  
    opacity: 0.9;  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    display: flex;
    transition: 1s;

}

.modal{
    width: 80%;
    height: 80%;
    background-color: #ff0000;
    margin: auto;
    border-radius: 30px;
    transition: 1s;

}

/* Tablets */
@media screen and (max-width: 955px){

    img{
        height: 230px;
        width: 170px;
        margin: 20px;
    }
    .p-profession{
        margin-right:5px ;
    }
}

/* Telefonos Grandes */

@media screen and (max-width: 690px){



    .contenedor-principal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .p-profession{
        margin-right:5% ;
    }
    
}

/* Telefonos Pequeños */
@media screen and (max-width: 480px){
    
    header{
    height: 200px;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    }
    .div-descripcion {
        margin: 5%;
        width: 90%;
    }

    
    img{
        height: 100%;
        width: 80%;
    }

    .contenedor-principal{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }


    .p-profession{
        font-size: 15px;
    }
}